<p>Calls a function once for each array element.</p>
<p id="demo"></p>
<p id="demo1"></p>
<button id="abc">click lấy các số trong mảng</button> 
<button id="abc1">phương thức map thay đổi giá trị trong mảng</button> <br> <br>
<button id="abc2">phương thức filter tìm kiếm giá trị trong mảng lớn hơn 18</button>
<button id="abc3">tính tổng 1 hàm</button>
<button id="abc4">kiem tra thoa man dieu kien every</button> <br> <br>
<button id="abc5">kiểm tra 1 trong số thành phần trong mảng thỏa mãn điều kiện</button>  <br> <br>
<button id="abc6">tìm kiềm 1 thành phần bên trong mảng đang ở đâu</button>
<button id="abc7">tìm kiềm 1 thành phần bên trong mảng từ dưới lên</button>
<button id="abc8">tìm kiềm vị trí đầu tiền trong mảng thỏa mản điều kiện</button>
<script>
var txt = "";
var numbers = [45, 4, 9, 16, 25];
numbers.forEach(myforeach);
document.getElementById('abc').onclick = function() {
    //do something
    
    document.getElementById("demo").innerHTML = txt;
}


function myforeach(value, index) {
  txt = txt + value + "<br>"; 
}
// lấy giá trị trong mảng
var numbers1 = [45, 4, 9, 16, 25];
var numbers2 = numbers1.map(mymap);
document.getElementById('abc1').onclick = function() {
    //do something
    document.getElementById("demo").innerHTML = numbers2;
}


function mymap(value, index, array) {
  return value + 2;
}
// Thay đổi giá trị mảng ban đầu  + 2

var over18 = numbers.filter(myfinter);
document.getElementById('abc2').onclick = function() {
    //do something
    document.getElementById("demo").innerHTML = over18;
}



function myfinter(value, index, array) {
  return value > 18;
}
// tìm kiếm giá trị trong mảng

var sum = numbers.reduce(myreduce);
document.getElementById('abc3').onclick = function() {
    //do something
    document.getElementById("demo").innerHTML = "Tổng " + sum;
}



function myreduce(total, value, index, array) {
  return total + value;
}
// Tỉnh tổng 1 hàm
var allOver18 = numbers.every(myevery);
document.getElementById('abc4').onclick = function() {
    //do something
    document.getElementById("demo").innerHTML = "kiem tra tat cac so lon hon 1 neu dung la true sai la fasle ket qua" + ' ' +allOver18;
}

function myevery(value, index, array) {
  return value > 1;
}
// kiểm tra tất cả thành phần của mảng
var someOver18 = numbers.some(mysome);
document.getElementById('abc5').onclick = function() {
    //do something
    document.getElementById("demo").innerHTML = "kiem tra 1 trong số thành phần trong mảng thỏa mản điều kiện" + ' ' +someOver18;
}


function mysome(value, index, array) {
  return value > 18;
}
// kiểm tra 1 phần tử bên trong có thỏa màn điều kiện


var a = numbers.indexOf(9);
document.getElementById('abc6').onclick = function() {
    //do something
    document.getElementById("demo").innerHTML = "tìm kiềm 1 thành phần bên trong mảng đang ở vị trí thứ" + ' ' + a;
}
// tìm kiếm 1 thành phần trong mảng đang nằm ở vị trí nào
var a = numbers.lastIndexOf(9);
document.getElementById('abc7').onclick = function() {
    //do something
    document.getElementById("demo").innerHTML = "tìm kiềm 1 thành phần trong mảng từ dưới lên" + ' ' + a;
}

var first = numbers.find(myfind);


document.getElementById('abc8').onclick = function() {
    //do something
    document.getElementById("demo").innerHTML = "vị trí đầu tiên lớn hơn 18 là " + first;
}

function myfind(value, index, array) {
  return value > 2;
}
</script>