<p id="demo">Good Evening!</p>
<button onclick="myconditions()">myconditions</button>
<script>
function myconditions() {


  if (new Date().getHours() < 2) {
    
    document.getElementById("demo").innerHTML = "Good day!";
  }
  else if(new Date().getHours() > 2){
    document.getElementById("demo").innerHTML = "Good nice!";
  }
  else{
    document.getElementById("demo").innerHTML = "Good Good!";
  }
}
// dùng câu điều kiện if để tìm điều kiện thỏa mản
</script>