<h2>JavaScript Loops</h2>

<p id="demo"></p>
<p id="demo1"></p>
<button onclick="myfor()">myfor</button>
<button onclick="myforin()">myforin</button>
<script>
var cars = ["BMW", "Volvo", "Saab", "Ford", "Fiat", "Audi"];
var text = "";
var i=0;
for (; i < 20; ) {
  text += cars[i] + "<br>";
  i++;
}
function myfor() {
	document.getElementById("demo").innerHTML = text;
}
// dùng vòng lặp for để lặp lại những cái cần lặp thay vì phải viết nhiều lần
var person ={tuoi : "31", gioitinh:"nam",};
var x;
var txt = "";
for (x in person) {
  txt += person[x] + " ";
}
function myforin() {
	document.getElementById("demo1").innerHTML = txt;
}
// dùng in để lấy ra rấ cả phần tử bên trong
</script>