<p>Math.round(x) returns the value of x rounded to its nearest integer:</p>

<p id="demo"></p>
<button onclick="myround()">Click round</button>
<button onclick="mypow()">Click pow</button>
<button onclick="mysqrt()">Click sqrt</button>
<script>

function myround() {
    document.getElementById("demo").innerHTML = Math.round(4.4);
}
//lấy ra số nguyên gần nó nhất tính từ .5
function mypow() {
    document.getElementById("demo").innerHTML = Math.pow(4,4);
}
// lấy ra mũ của số đứng trc
function mysqrt() {
    document.getElementById("demo").innerHTML = Math.sqrt(11);
}
// lấy ra căn bậc 2
</script>