<p id="demo"></p>
<button onclick="myswitch()">myswitch</button>

<script>
var Month;
switch (new Date().getMonth()) {
  case 0:
    Month = "thang 1";
    break;
  case 1:
    Month = "thang 2";
    break;
  case 2:
    Month = "thang 3";
    break;
  case 3:
    Month = "thang 4";
    break;
  case 4:
    Month = "thang 5";
    break;
  case 5:
    Month = "thang 6";
    break;
  case  6:
    Month = "thang 7";
    break;
    case  7:
    Month = "thang 8";
    break;
    case  8:
    Month = "thang 9";
    break;
    case  9:
    Month = "thang 10";
    break;
    case  10:
    Month = "thang 11";
    break;
    case  11:
    Month = "thang 12";
    break;
  default:
    Month = ("Số nhập vào phải nằm trong khoảng từ 1 den 12.");  
}
function myswitch() {
  document.getElementById("demo").innerHTML = Month;
}

// cấu trúc switch dùng để lựa chọn nhiều phương án có thể xảy ra


</script>