<p id="demo"></p>
<p id="demo1"></p>
<button onclick="mywhile()">mywhile</button>
<button onclick="mywhile1()">mywhile1</button>
<script>
var text = "";
var i = 0;
while (i < 10) {
  text += "số " + i + "<br>" ;
  i++;
}
function mywhile() {
	document.getElementById("demo").innerHTML = text;
}
// Vòng lặp while khi điều kiện được thỏa mản thì bắt đầu chạy

var txt = "";
var i =2;
do{
	txt += "số " + i + "<br>" ;
  i++;
}
while(i<10)
function mywhile1() {
	document.getElementById("demo1").innerHTML = txt;
}
// vòng lặp do này chạy trước khi thỏa mản điều kiện
</script>